
.my-fonts{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
/* Shared Style */
.display-flex{
    display: flex;
}
.navbar{
    justify-content: space-between;
    max-width: 1440px;
    
    margin: 20px 140px;
    align-items: center;
}
.list-item{
    margin-right: 30px;
    list-style: none;
}
.nav-link{
    text-decoration: none;
}
.brand-img{
    width: 62px;
    height: 62px;
    margin-top: 20px;
}
.brand-title{
    font-weight: 700;
    font-size: 2rem;
    margin-top: 37px;
}
.list-item{
    margin-top: 37px;
    font-weight: 700;
    font-size: 1.25rem;
}
.nav-btn{
    width: 197px;
    height: 50px;
    border-radius: 12px;
    background-color: orange;
    font-weight: 600px;
    font-size: 1.25rem;
    color: white;
    margin-top: 26px;
}
.toggle{
    border: none;
    width: 30px;
    height: 30px;
    background-color: aliceblue;
    margin-top: 36px;
    display: none;
}
/* navbar end here */
/* banner section start here */
.banner{
    max-width: 1158px;
    max-height: 575px;
    margin: 20px 141px;
    
}
.container{
    width: 640px;
    height: 331px;
    margin-top: 122px;
    }
.banner-title{
    font-weight: 700;
    font-size: 3.5rem;
}
.banner-content{
    font-weight: 400;
    font-size: 1rem;
    margin: 15px auto;
}
.banner-btn{
    width: 197px;
    height: 50px;
    border-radius: 12px;
    background-color: black;
    font-weight: 700;
    font-size: 1.25rem;
    color: white;
}
.banner-img{
    width: 468px;
    height: 575px;
}
/* card start here */
.main-container{
    background-image: url(../images/bg.png);
    max-width: 1440px;
    height: 879px;
    
    gap: 30;
}
.cards-title{
    text-align: center;
    font-weight: 700;
    font-size: 2.7rem;
    margin-top: 50px;
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 60px 140px;
    gap: 10px;
    
    
}

.card-img{
    width: 136x;
    height: 136px;
    padding: 52px 115.5px;
}
.card-heading{
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
}
.card-content{
    font-weight: 500;
    font-size: 1rem;
    padding: 10px 20px;
    text-align: center;

}
.cards-btn{
    width: 102px;
    height: 28px;
    border: none;
    font-weight: 700;
    font-size: 1rem;
   margin-left: 130px;  
   margin-top: 30px;    
    background-color: white;
}
.card-1{
    border: 1px solid rgb(250, 215, 242);
    background: linear-gradient(#DEF5FF,#FFFFFF);
    border-radius: 19px;
    
}
.card-2{
    border: 1px solid rgb(250, 215, 242);
    background: linear-gradient(#FFF4DC,#FFFFFF);
    border-radius: 19px;
}
.card-3{
    border: 1px solid rgb(250, 215, 242);
    background: linear-gradient(#F2E8FF,#FFFFFF);
    border-radius: 19px;
}
/* footer start here */
.last-part{
    justify-content: space-between;
}
/* collage start here */
.row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 197px 140px;
    gap: 18px;
    
    
}
.collage-img{
    background: linear-gradient(#FFF4DC,#FFFFFF);
    
}
.collage-1{
    background-color: #F2E8FF;
    width: 540px;
    height: 630px;

}
.collage-img-1{
    height: 50%;
    width: 100%;
}
.collage-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    width: 601px;
    height: 630px;
}
.collage-h{
    font-weight: 700px;
    font-size: 1.5rem;
    margin: 58px 99.43px 50px 38.45px;
}
.collage-content-1{
    font-weight: 400px;
    font-size: 1rem;
    margin: 0px 68px 34px 38.45px;
}
.cards{
    width: 290.70px;
    height: 301px;
    border-radius: 16px;
    background-color: gray;
}
.cards-img{
    width: 291px;
    height: 177px;
    border-radius: 16px 16px 0px 0px;
}
.cards-title{
    font-weight: 700px;
    font-size: 1rem;
    margin: 33px 54px 33px 37px;
}
.collage-btn{
    width: 174px;
    height: 48px;
    border-radius: 48px;
    margin-top: -0px;
}
.collage-btn-1{
    width: 174px;
    height: 48px;
    border-radius: 48px;
    margin-top: -100px;
}


/* footer start here */
.my-footer{
    max-width: 1439;
    max-height: 519;
    background-color: #01ACFD;
    display: flex;
}
.last-part{
    width: 1071px;
    height: 222px;
    display: flex;
}
.footer-brand{
    width: 300;
    height: 81;
    
}
.f-brand-img{
    width: 80px;
    height: 80px;
}
/* Responsive start here */
@media screen and (max-width: 576px) {
    .navbar{
        width: 358px;
        height: 46px;
        margin: 12px auto;
        justify-content: space-between;
    }
    .brand-img{
            max-width: 46px;
            max-height: 46px;
            
        }
    .nav-links{
        display: none;
    }
    .nav-btn{
        display: none;
    }
    .toggle{
        width: 30px;
        height: 30px;
        display: block;
        
    }
    .brand-title{
        display: none;
    }
    /* banner */
    .banner{
        flex-direction: column-reverse;
        width: 357px;
        height: 725px;
        margin: 270px auto;
        justify-content: center;
    }
    .banner-title{
        text-align: center;
        font-size: 2rem;
    }
    .banner-content{
        text-align: center;
    }
    .banner-btn{
        margin: 0 80px;
    }
    .container{
        width: 357px;
        height: 250px;
        margin-top: 30px;
        
        
    }
    .banner-img{
        width: 336px;
        height: 413px;
        
    }
    .cards-container{
        grid-template-columns: repeat(1, 1fr);
        margin: 0px 10px;
        
        
        
    }
    .main-container{
        margin: 0px auto;
    }
    .cards-title{
        margin: 20px auto;
        font-size: 1.7rem;
    }
    .cards-btn{
        margin-left: 200px;
    }
    .card-img{
        margin: auto;
        padding-left: 200px ;

    }
    
    }
    
