
.my-fonts{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
/* Shared Style */
.display-flex{
    display: flex;
}
.navbar{
    justify-content: space-between;
    max-width: 1440px;
    
    margin: 20px 140px;
    align-items: center;
}
.list-item{
    margin-right: 30px;
    list-style: none;
}
.nav-link{
    text-decoration: none;
}
.brand-img{
    width: 62px;
    height: 62px;
    margin-top: 20px;
}
.brand-title{
    font-weight: 700;
    font-size: 2rem;
    margin-top: 37px;
}
.list-item{
    margin-top: 37px;
    font-weight: 700;
    font-size: 1.25rem;
}
.nav-btn{
    width: 197px;
    height: 50px;
    border-radius: 12px;
    background-color: orange;
    font-weight: 600px;
    font-size: 1.25rem;
    color: white;
    margin-top: 26px;
}
.toggle{
    border: none;
    width: 30px;
    height: 30px;
    background-color: aliceblue;
    margin-top: 36px;
    display: none;
}
/* navbar end here */
/* banner section start here */
.banner{
    max-width: 1158px;
    max-height: 575px;
    margin: 20px 141px;
    
}
.container{
    width: 640px;
    height: 331px;
    margin-top: 122px;
    }
.banner-title{
    font-weight: 700;
    font-size: 3.5rem;
}
.banner-content{
    font-weight: 400;
    font-size: 1rem;
    margin: 15px auto;
}
.banner-btn{
    width: 197px;
    height: 50px;
    border-radius: 12px;
    background-color: black;
    font-weight: 700;
    font-size: 1.25rem;
    color: white;
}
.banner-img{
    width: 468px;
    height: 575px;
}
/* Responsive start here */
@media screen and (max-width: 576px) {
    .navbar{
        width: 358px;
        height: 46px;
        margin: 12px auto;
        justify-content: space-between;
    }
    .brand-img{
            max-width: 46px;
            max-height: 46px;
            
        }
    .nav-links{
        display: none;
    }
    .nav-btn{
        display: none;
    }
    .toggle{
        width: 30px;
        height: 30px;
        display: block;
        
    }
    .brand-title{
        display: none;
    }
    /* banner */
    .banner{
        flex-direction: column-reverse;
        width: 357px;
        height: 725px;
        margin: 270px auto;
    }
    .container{
        width: 357px;
        height: 250px;
        margin-top: 30px;
        
    }
    .banner-img{
        width: 336px;
        height: 413px;
        
    }
    
    }
    
